<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.mapper.ManagerMapper">
	<select id="checkManager" parameterType="Manager" resultType="Integer">
		select manager_id from manager where manager_password=#{managerPassword} and manager_name=#{managerName}
	</select>

</mapper>